
#content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container{
    display: grid;
    border: 1px solid grey;
    background-color: white;
}

#gridcontrols {
    display: flex;
    align-items: center;
    gap: 5px;
}

#gridsize {
    margin-left: 5px;
    margin-right: 5px;
}

#borderscontainer {
    display: flex;
    gap: 5px;
}

#clear {
    width: 50px;
    height: 30px;
}

.controlbtn {
    width: 25px;
    height: 25px;
    font-size: 12px;
}

.blockdefault {
    background-color: white;
    box-sizing: border-box;
}

.borders{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

.bordersleft {
    border-top: 1px solid grey;
}

.borderstop {
    border-left: 1px solid grey;
}

.noborders {
    border: none;
}


/* get rid of this and do all via inline */
.paintedblack {
    background-color: black;
}