
#content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#bordersToggle {
    display: flex;
    gap: 5px;
}

#container{
    display: grid;
    border: 1px solid grey;
    background-color: white;
}

.blockdefault {
    background-color: pink;
    box-sizing: border-box;
}

.borders{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

.noborders {
    border: none;
}
